{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_wtf4.html" as _wtf4 %}

{% block title %}有米BI - 登录{% endblock %}

{% block content %}
    <div class="content" style="padding:51px;">
{% block page_content %}
    <h3 style="color: #2aabd2">登录</h3>
    <div id="comment_div" class="row comment-form" style="margin-top: 20px">
        <div class="col-lg-6 offset-lg-3">
            {{ _wtf4.quick_form(form, form_type="basic", button_map={'submit':'primary', }, id='comment_form') }}
        </div>
    </div>
{% endblock %}
    </div>
{% endblock %}
