{% extends "base.html" %}
{% block content %}
    <div class="container-fluid zerolmp" style="margin-left: 10px">
            <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home"></span> 主页</a>
              </li>
              <li>
                <a data-toggle="collapse" data-target="#list-group-1" href="#">
                   <span class="glyphicon glyphicon-book"></span>
                   用户信息 <span class="caret pull-right"></span>
                </a>
                <div id="list-group-1" class="list-group-div">
                    <ul style="margin-bottom: 0px;padding-bottom: 0px;" class="list-group">
                      <li class="list-group-item">
                        <a href="#"><span class="glyphicon glyphicon-search"></span> 查看用户</a>
                      </li>
                      <li class="list-group-item">
                        <a href="#"><span class="glyphicon glyphicon-plus-sign"></span> 添加用户</a>
                      </li>
                      <li class="list-group-item">
                        <a href="#"><span class="glyphicon glyphicon-import"></span> 导入记录</a>
                      </li>
                    </ul>
                </div>
              </li>
              <li>
                <a data-toggle="collapse" data-target="#list-group-2" href="#">
                   <span class="glyphicon glyphicon-cog"></span>
                   账号设定 <span class="caret pull-right"></span>
                </a>
                <div id="list-group-2" class="list-group-div">
                    <ul style="margin-bottom: 0px;padding-bottom: 0px;" class="list-group">
                        <li class="list-group-item">
                            <a href="#"><span class="glyphicon glyphicon-user"></span> 个人资料</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><span class="glyphicon glyphicon-edit"></span> 修改密码</a>
                        </li>
                    </ul>
                </div>
              </li>
              <li>
                <a data-toggle="collapse" data-target="#list-group-3" href="#">
                    <span class="glyphicon glyphicon-th-large"></span>
                    图表统计 <span class="caret pull-right"></span>
                </a>
                <div id="list-group-3" class="list-group-div">
                    <ul style="margin-bottom: 0px;padding-bottom: 0px;" class="list-group">
                        <li class="list-group-item">
                            <a href="#"><span class="glyphicon glyphicon-stats"></span> 柱状图</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><span class="glyphicon glyphicon-dashboard"></span> 饼图</a>
                        </li>
                    </ul>
                </div>
              </li>
              <li>
                <a href="#"><span class="glyphicon glyphicon-info-sign"></span> 关于系统</a>
              </li>
            </ul>
        </div>

        <div class="col-md-10">

        </div>

    </div>
    </div>
{% endblock %}