<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 echarts.js -->
    <script src="static/js/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:50%;"></div>
    <div id="main2" style="width: 100%;height:50%;"></div>
    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var myChart2 = echarts.init(document.getElementById('main2'));
        // 指定图表的配置项和数据
        var option1 = {
            backgroundColor: '#fff',
            color: ['#3398DB'],
            title: {
                text: '微信每日粉丝总数'
            },
            tooltip: {},
            legend: {
                data:['粉丝总数']
            },
            xAxis: {
                data: {{ data['ref_date']|tojson }}
            },
            yAxis: {},
            series: [{
                name: '每日粉丝总数',
                type: 'bar',
                data: {{ data['cumulate_user'] }}
            }]
        };
        var option2 = {
            backgroundColor: '#fff',
            color: ['#3398DB'],
            title: {
                text: '微信团队账号数'
            },
            tooltip: {},
            legend: {
                data:['账号数']
            },
            xAxis: {
                data: {{ data2['charge_team']|tojson }}
            },
            yAxis: {},
            series: [{
                name: '微信团队账号数',
                type: 'bar',
                data: {{ data2['wechats'] }}
            }]
        };
        myChart.setOption(option1);
        myChart2.setOption(option2);
    </script>
<table class="table table-hover">
	<caption>微信每日粉丝总数</caption>
	<thead>
		<tr>
			<th>日期</th>
			<th>粉丝数</th>
		</tr>
	</thead>
	<tbody>
    {% for (k,v) in data.items() %}
        {% for a in k %}

		<tr>
			<td>{{ a }}</td>
			<td>{{ b }}</td>
		</tr>
        {% endfor %}
    {% endfor %}
	</tbody>
</table>
</body>
</html>
